@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --dark: #0e0e0e;
    --primary: #006a50;
    --secondary: #c6e4d6;
    --light-green: #c6e4d6;
    --light: #ffffff;
    --dark-shade: #0e0e0e26;
    --dark2: #0e0e0eb3;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F5F5F5;
    font-family: "Fira Sans", serif;
}

.container {
    max-width: 1280px;
    margin: 0 auto;

}

.header-section {
    padding: 50px 0;
}

.nav-logo {
    text-decoration: none;
    font-size: 32px;
    font-weight: 700;
    color: var(--dark);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav a {
    text-decoration: none;
    color: var(--primary);
    font-size: 18px;
    font-weight: 600;
    padding: 15px 30px;
    border: 1px solid var(--primary);
    border-radius: 8px;
}

/* hero style start */
.hero {
    display: flex;
    align-items: center;
    gap: 64px;
    background-color: var(--light-green);
    padding: 80px 60px;
    border-radius: 24px;
}

.hero-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.hero-details h5 {
    font-size: 24px;
    font-weight: 500;
    color: #0e0e0e80;
}

.hero-details h1 {
    font-size: 56px;
    font-weight: 700;
    color: var(--dark);
    margin-bottom: 8px;
}

.hero div img {
    width: 475px;
}

/* hero style end */

/* pillar section style start */

.pillar-section .card {
    background-color: var(--light);
    border: 1px solid var(--dark-shade);
    flex: 1;
}

.pillar-section .card-title {
    margin-top: 25px;
    margin-bottom: 12px;
}

/* pillar section style end */

/* vision-future style start*/
.vision-future .cards {
    margin-top: 32px;
}

.vision-future .card {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.card.card-blue {
    background-color: rgba(84, 144, 245, 0.2);
}

.card.card-blue a {
    background-color: rgb(84, 144, 245);
}

.card.card-green {
    background-color: rgb(9, 161, 92, 0.2);
}

.card.card-green a {
    background-color: rgb(9, 161, 92);
}

.card.card-yellow {
    background-color: rgb(255, 194, 57, 0.2);
}

.card.card-yellow a {
    background-color: rgb(255, 194, 57);
}

.vision-future .message {
    margin-top: 32px;
    padding: 48px 24px;
    background-color: var(--light);
    background-image: url('./../assets/quote-bg.png');
    background-repeat: no-repeat;
    background-position: 24px 24px;
}

.vision-future .message p {
    color: var(--dark2);
}

.vision-future .message h5 {
    font-weight: 600;
}

/* vision-future style end */

/* your opinion style start */
.your-opinion .card {
    background-color: var(--light);
    padding: 32px;
}

.your-opinion .opinions-table {
    border: 1px solid var(--dark2);
    border-collapse: collapse;
    width: 100%;
}

.opinions-table tr:first-child {
    background-color: var(--secondary);
}

.opinions-table tr {
    display: flex;
    justify-content: space-between;
}

.opinions-table th {
    padding: 24px;
    font-size: 20px;
    font-weight: 600;
}

.opinions-table td {
    border: 1px solid var(--dark-shade);
    padding: 24px;
}

.opinions-table td:first-child {
    font-weight: 600;
    flex: 1;
    display: flex;
    align-items: center;
}

/* your opinion style end*/

/* recent news style start */
.recent-news>p {
    margin-bottom: 32px;
}

.recent-news .news-card {
    display: flex;
    gap: 32px;
    padding: 48px;
    background-color: var(--light);
    border-radius: 24px;
    margin-bottom: 24px;
}

.recent-news .news-card>img {
    border-radius: 24px;
    width: 400px;
    height: 300px;
    object-fit: cover;

}

.news-card .news-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.news-card .news-details .button-primary {
    margin-top: 32px;
}

.news-card .news-details img {

    margin: 12px 0;
    height: 34px;
}

.news-card .news-details .time {
    margin: 12px 0;
}

.news-card .news-details .news-title {
    font-size: 32px;
    font-weight: 700;

}

.recent-news .news-card.swap {
    flex-direction: row-reverse;
}

/* recent news style end */

/* donate style start */
.donate-today form {
    margin: 0 80px;
    text-align: center;
}

.select-amount {
    margin: 32px 0;
    display: flex;
    justify-content: center;
    gap: 32px;
}

.select-amount input[type="radio"] {
    display: none;
}

.select-amount .section-title {
    padding: 40px;
    background-color: var(--light);
    border-radius: 16px;
    border: 1px solid var(--secondary);
}

.select-amount .section-title:hover {
    background: var(--secondary);
}

input[type="radio"]:checked+.section-title {
    background: var(--secondary);
}

.donate-today form .other-amount {
    width: 100%;
    padding: 20px 40px;
    font-size: 20px;
    text-align: center;
    border: none;
}

.donate-today form .button-primary {
    border: none;
    margin-top: 32px;
}

/* donate style end */

/* newsletter style start */
.newsletter {
    padding: 80px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--secondary);
    border-radius: 24px;
}

.newsletter-details{
    width: 65%;
    text-align: center;
}
.newsletter form {
    margin: 24px 0;
    display: flex;
}

.newsletter form input {
    border: none;
}

.newsletter form input[type='text'] {
    padding: 20px 40px;
    background-color: #ffffff;
    border-radius: 8px 0px 0px 8px;
    width: 600px;
    font-size: 16px;

}
.newsletter form input[type='text']::placeholder{
    color: var(--dark2);
}
.newsletter form >.button-primary {
    background-color: var(--primary);
    padding: 20px 34px;
    border-radius: 0px 8px 8px 0px;

}

/* newsletter style end */

/* social style start */

.social{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--light);
    padding: 50px 100px;
}
.social hr{
    margin: 0 0 50px 0;
    height: 1px;
    border: 0px;
    background-color: var(--secondary);
    width: 100%;

}
/* social style end */